/* globales */
:root{
    --dark-blue: #0A3871;
    --blanco: #ffffff;
    --gray: #D8DFE8;
    --inter: 'Inter', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--inter);
}
img, picture{
    max-width: 100%;
}
/* logo */
.logo{
    max-width: 12rem;
    height: 4.8rem;
    margin-top: 4rem;
}
/* contenedor */
.contenedor{
    padding: 1rem;
}
/* media query contenedor Desktop */
@media (min-width: 1200px) {
    .contenedor{
        display: grid;
        grid-template-columns:  99rem 40rem;
        justify-content: end;
        gap: 2rem;
    }
}
/* input_textarea */

.input_txt_normal{
    resize: none;
    border: none;
    width: 100%;
    height: 23rem;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 7rem;
    outline: none;
    color: var(--dark-blue);
    font-family: var(--inter);
}
/* media query textarea Tablet */
@media (min-width: 768px){
    .input_txt_normal{
        height: 40rem;
    }
}
/* media query textarea Desktop */
@media (min-width: 1200px){
    .input_txt_normal{
        height: 43rem;
    }
}
.input_txt_normal:empty::before{
    position: absolute;
}
.input_txt_normal::placeholder{
    color: var(--dark-blue);
    font-family: var(--inter)
}
/* botones */
.botones{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* media query botones Tablet y Desktop */
@media (min-width: 768px){
    .botones{
        flex-direction: row;
        gap: 2.4rem;
    }
}
.boton{
    text-decoration: none;
    padding: 2.5rem;
    border-radius: 3rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    width: 100%;
}
.btn_encriptar{
    background-color: var(--dark-blue);
    color: var(--blanco);
}
.btn_desencriptar{
    background-color: var(--blanco);
    border: var(--dark-blue) solid 1px;
    color: var(--dark-blue);
}
.btn_copiar{
    display: none;
}
/* advertencia */
.advertencia{
    display: flex;
    align-items: center;
}
.icono{
    content: url(imagenes/error.png);
    width: 2rem;
    height: 2rem;
}
/* caja_encriptado */
.caja_encriptado{
    border-radius: 4rem;
    box-shadow: 0px 13px 5px 0px rgba(0,0,0,0.28);
    padding: 2rem;
}
@media (max-width: 1200px) {
    .caja_encriptado{
        margin-top: 5rem;
    }
}
.encriptado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
}
/* agregando height minimo solo para dektop */
@media (min-width: 1200px) {
    .encriptado{
        height: 51.2rem;
    }
    .caja_encriptado{
        height: 62.1rem;
    }
}
/* media query muñeco Telefono y Tablet */
@media (max-width: 1200px){
    .muñeco{
        display: none;
    }
}
/* clases dadas desde javascript */
.txt_encriptado{
    display: block;
    text-align: start;
    font-size: 2.2rem;
    word-wrap: break-word;
}
/* agregando  overflow solo al dektop*/
@media (min-height: 737.5px) {
    .txt_encriptado{
        overflow-y:auto;
    }
}
@media (max-width: 1200px) {
    #boton{
        margin-top: 1rem;
    }
}