/* globales */
:root{
    --dark-blue: #0A3871;
    --blanco: #ffffff;
    --gray: #D8DFE8;
    --inter: 'Inter', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--inter);
}
img, picture{
    max-width: 100%;
}
/* logo */
.logo{
    max-width: 12rem;
    height: 4.8rem;
    margin-top: 4rem;
}
/* contenedor */
.contenedor{
    padding: 1rem;
}
/* input_textarea */
.input_txt_normal{
    resize: none;
    border: none;
    width: 100%;
    height: 23rem;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 7rem;
    outline: none;
}
.input_txt_normal:empty::before{
    position: absolute;
}
.input_txt_normal::placeholder{
    color: var(--dark-blue);
    font-family: var(--inter)
}
/* botones */
.boton{
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6rem;
    border-radius: 3rem;
}
.btn_encriptar{
    background-color: var(--dark-blue);
    color: var(--blanco);
    margin-bottom: 2rem;
}
.btn_desencriptar{
    background-color: var(--blanco);
    border: var(--dark-blue) solid 1px;
    color: var(--dark-blue);
    margin-bottom: 5rem;
}
/* advertencia */
.advertencia{
    display: flex;
    align-items: center;
    gap: .9rem;
}
.icono{
    content: url(imagenes/error.png);
    width: 2rem;
    height: 2rem;
}
/* caja_encriptado */
.encriptado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border-radius: 4rem;
    box-shadow: 0px 24px 21px 0px rgba(0,0,0,0.1);
}
.mensaje{
    font-size: 2.5rem;
}
